%br
%br
%div{class:"container",href:""}
  %a{href:new_post_path ,class:"btn btn-primary" ,style:"color:white"}Create post
- c = 0
-@post.each do |p|
  %div{class:"container border border-1 m-2"}
    %p= link_to "name : #{User.find_by_id(p[0]).name}" ,"/profile/#{User.find_by_id(p[0]).name}"
    %p= "msg : #{p[1]}"
    %p{style:"margin-bottom:0.8rem;"}= "updated at : #{p[2]}"

    %button.btn.btn-link{"data-bs-target" => "#showName#{c}", "data-bs-toggle" => "modal", class:"m-0 p-0 "} like : #{@getLike[c]["numberOfLike"]}
    .modal.fade{id:"showName#{c}"}
      .modal-dialog
        .modal-content
          .modal-header
            %h5.modal-title list name
            %button.btn-close{"data-bs-dismiss" => "modal"}
          .modal-body
            %ul.list-group.list-group-flush
              -@getUserLike[c].each do |u|
                %a{href:"/profile/#{u.name}" ,class:"list-group-item" ,color:"black"} #{u.name}


    %hr{style:"margin:0.5rem 0;"}
    %div{class:"container mb-1 "}
      -if(@checkLike[c])
        %a{href:"/like/#{p[3]}" ,class:"btn btn-info btn-sm" ,style:"color:black"}Unlike

      -else
        %a{href:"/like/#{p[3]}" ,class:"btn btn-info btn-sm" ,style:"color:black"}Like
    -c = c+1
